.user-settings-container {
  padding-top: 100px;
}

.main-content {
  flex: 1;
  padding: 0px 80px 80px 80px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  font-size: 16px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.section-2 h2 {
  margin-top: 80px;
}