* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: black;
  height: 100vh;
}

.development {

  text-align: center;
  padding-top: 80px;
}
.development img {
    height: 200px;
}
.txt-dev {
    margin-top: 30px;
}
.txt-dev p {
    font-weight: 400;
    font-size: 1.3em;
}
.home-banner .row {
  display: flex;
  margin: 0 auto 0;
  background-color: #DDDD;
  width: 80%;
  padding: 40px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  justify-content: space-between;
}

.home-banner .row .home-content h1 {
  letter-spacing: 2px;
}

.home-banner .row .home-content p {
  font-size: 18px;
  margin-top: 10px;
  line-height: 40px;
}

.home-banner .row .home-content .home-list {
  background-color: #D9D9D9;
  margin-top: 30px;
  height: 40px;
  /*padding-top: 6px;
  */border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.home-banner .row .home-content .home-list p {
  font-size: 15px;
  word-spacing: 50px;
  background-color: #D9D9D9;
  text-align: center;
}
